<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main class="overview">
        <div class="header">
            <div class="logo">
                <div class="image-holder">
                    <i class="fa fa-ravelry mylogo"></i>
                </div>
                <div class="text-holder">
                    <div class="main">api</div>
                    <div class="sub">tester</div>
                </div>
            </div>
            <div class="nav">
                <ul class="nav__list">
                    <li class="nav__item"> <a class="nav__tag" href="#">Home</a> </li>
                     <li class="nav__item"> <a class="nav__tag" href="#">Services</a> </li>
                     <li class="nav__item"> <a class="nav__tag" href="#">Payment</a> </li>
                     <li class="nav__item"> <a class="nav__tag" href="#">Contact</a> </li>
                     <li class="nav__item"> <a class="nav__tag" href="#">T & C</a> </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="sidebar">
                <div class="profile">
                    <i class="fa fa-user-circle profcon"></i>
                    <div class="welcome">Hello, user</div>
                </div>
                <div class="info">
                    <div class="info__holder">
                        <i class="fa fa-dashboard info__icon"></i>
                        <a class="info__text" href="#">Dashboard</a>
                    </div>
                    <div class="info__holder">
                        <i class="fa fa-user info__icon"></i>
                        <a class="info__text" href="#">My Profile</a>
                    </div>
                    <div class="info__holder">
                        <i class="fa fa-location-arrow info__icon"></i>
                        <a class="info__text" href="#">My Listings</a>
                    </div>
                    <div class="info__holder">
                        <i class="fa fa-plus info__icon"></i>
                        <a class="info__text" href="#">Add New Listing</a>
                    </div>
                    <div class="info__holder">
                        <i class="fa fa-calendar info__icon"></i>
                        <a class="info__text" href="#">All in One Calendar</a>
                    </div>
                    <div class="info__holder">
                        <i class="fa fa-heart info__icon"></i>
                        <a class="info__text" href="#">Favorites</a>
                    </div>
                    <div class="info__holder">
                        <i class="fa fa-upload info__icon"></i>
                        <a class="info__text" href="#">My Uploads</a>
                    </div>
                    <div class="info__holder">
                        <i class="fa fa-bell-slash info__icon"></i>
                        <a class="info__text" href="#">My Notifications</a>
                    </div>
                    <div class="info__holder">
                        <i class="fa fa-video-camera info__icon"></i>
                        <a class="info__text" href="#">My Reservations</a>
                    </div>
                    <div class="info__holder">
                        <i class="fa fa-power-off info__icon"></i>
                        <a class="info__text" href="#">Logout</a>
                    </div>
                </div>
            </div>
            <div class="details">
                <div class="detail__title">
                    <div class="title">
                        <h5> My Profile </h5>
                    </div>
                    <div class="notification">
                        <div class="page"> Front Page </div>
                        <div class="notify">
                            <i class="fa fa-bell notify-icon"></i>
                            <sup class="notify-num">3</sup>
                        </div>
                    </div>
                </div>
                <div class="detail__body">
                    <div class="form">
                        <div class="title">
                            <p>Your Details</p>
                        </div>
                        <form class="form__holder" action="/user/profile" method="POST">
                            <div class="form__container">
                                <div class="form__group">
                                    <input type="number" placeholder="Enter age" name="Age" class="form__input" required>
                                    <label for="Age" class="form__label"> Age</label>
                                </div>
                                <div class="select__group">
                                    <label for="JobInvolvement" class="select__label"> Job Involvement</label>
                                    <select name="JobInvolvement" id="" class="select__input">
                                        <option value="" hidden selected> -- Choose One --</option>
                                        <option value="1" class="select__option">Low</option>
                                        <option value="2" class="select__option">Medium</option>
                                        <option value="3" class="select__option">High</option>
                                        <option value="4" class="select__option">Very High</option>
                                    </select>
                                </div>
                                <div class="form__group">
                                    <input type="number" placeholder="Number of Companies Worked" name="NumCompaniesWorked" class="form__input" required>
                                    <label for="NumCompaniesWorked" class="form__label"> Number Companies Worked</label>
                                </div>
                                <div class="select__group">
                                    <label for="WorkLifeBalance" class="select__label"> Work Life Balance</label>
                                    <select name="WorkLifeBalance" id="" class="select__input">
                                        <option value="" hidden selected> -- Choose One --</option>
                                        <option value="1" class="select__option">Bad</option>
                                        <option value="2" class="select__option">Good</option>
                                        <option value="3" class="select__option">Better</option>
                                        <option value="4" class="select__option">Best</option>
                                    </select>
                                </div>
                                <!-- <div class="radio__group">
                                    <p class="radio__label"> Attrition </p>
                                    <div class="radio__container">
                                        <div class="radio__part">
                                            <input type="radio" id="male" value="0" name="Attrition">
                                            <label for="Attrition"> No </label>
                                        </div>
                                        <div class="radio__part">
                                            <input type="radio" id="female" value="1" name="Attrition">
                                            <label for="Attrition"> Yes </label>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="select__group">
                                    <label for="BusinessTravel" class="select__label"> Business Travel</label>
                                    <select name="BusinessTravel" id="" class="select__input">
                                        <option value="" hidden selected> -- Choose One --</option>
                                        <option value="0" class="select__option">Non-Travel</option>
                                        <option value="1" class="select__option">Travel-Frequently</option>
                                        <option value="2" class="select__option">Travel-Rarely</option>
                                    </select>
                                </div>
                                <div class="form__group">
                                    <input type="number" placeholder="Percentage of salary hike" name="PercentSalaryHike" class="form__input" required>
                                    <label for="PercentSalaryHike" class="form__label"> Percent Salary Hike</label>
                                </div>
                                <div class="select__group">
                                    <label for="Department" class="select__label"> Department</label>
                                    <select name="Department" id="" class="select__input">
                                        <option value="" hidden selected> -- Choose One --</option>
                                        <option value="0" class="select__option">Human Resources</option>
                                        <option value="1" class="select__option">Research & Development</option>
                                        <option value="2" class="select__option">Sales</option>
                                    </select>
                                </div>
                                <!-- <div class="select__group">
                                    <label for="EducationField" class="select__label"> Education Field</label>
                                    <select name="EducationField" id="" class="select__input">
                                        <option value="" hidden selected> -- Choose One --</option>
                                        <option value="0" class="select__option">Human Resources</option>
                                        <option value="1" class="select__option">Life Sciences</option>
                                        <option value="2" class="select__option">Marketing</option>
                                        <option value="3" class="select__option">Medical</option>
                                        <option value="4" class="select__option">Other</option>
                                        <option value="5" class="select__option">Technical Degree</option>
                                    </select>
                                </div> -->
                                <div class="form__group">
                                    <input type="number" placeholder="Years since last promotion" name="YearsSinceLastPromotion" class="form__input" required>
                                    <label for="YearsSinceLastPromotion" class="form__label"> Years Since Last Promotion</label>
                                </div>
                                <div class="select__group">
                                    <label for="JobRole" class="select__label"> Job Role</label>
                                    <select name="JobRole" id="" class="select__input">
                                        <option value="" hidden selected> -- Choose One --</option>
                                        <option value="0" class="select__option">Healthcare Representative</option>
                                        <option value="1" class="select__option">Human Resources</option>
                                        <option value="2" class="select__option">Laboratory Technician</option>
                                        <option value="3" class="select__option">Manager</option>
                                        <option value="4" class="select__option">Manufacturing Director</option>
                                        <option value="5" class="select__option">Research Director</option>
                                        <option value="6" class="select__option">Research Scientist</option>
                                        <option value="7" class="select__option">Sales Executive</option>
                                        <option value="8" class="select__option">Sales Representative</option>
                                    </select>
                                </div>
                                <div class="form__group">
                                    <input type="number" placeholder="Years with current manager" name="YearsWithCurrManager" class="form__input" required>
                                    <label for="YearsWithCurrManager" class="form__label"> Years With Current Manager</label>
                                </div>
                            </div>
                            <div class="form__container">
                                <div class="select__group">
                                    <label for="JobLevel" class="select__label"> Job Level </label>
                                    <select name="JobLevel" id="" class="select__input">
                                        <option value="" hidden selected> -- Choose One --</option>
                                        <option value="1" class="select__option">1</option>
                                        <option value="2" class="select__option">2</option>
                                        <option value="3" class="select__option">3</option>
                                        <option value="4" class="select__option">4</option>
                                        <option value="5" class="select__option">5</option>
                                    </select>
                                </div>
                                <div class="radio__group">
                                    <p class="radio__label"> Pick Gender </p>
                                    <div class="radio__container">
                                        <div class="radio__part">
                                            <input type="radio" value="1" name="Gender">
                                            <label for="Gender"> Male </label>
                                        </div>
                                        <div class="radio__part">
                                            <input type="radio" value="2" name="Gender">
                                            <label for="Gender"> Female </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="select__group">
                                    <label for="Education" class="select__label"> Education </label>
                                    <select name="Education" id="" class="select__input">
                                        <option value="" hidden selected> -- Choose One --</option>
                                        <option value="1" class="select__option">Below College</option>
                                        <option value="2" class="select__option">College</option>
                                        <option value="3" class="select__option">Bachelor</option>
                                        <option value="4" class="select__option">Master</option>
                                        <option value="5" class="select__option">Doctor</option>
                                    </select>
                                </div>
                                <div class="select__group">
                                    <label for="EnvironmentSatisfaction" class="select__label"> Environment Satisfaction </label>
                                    <select name="EnvironmentSatisfaction" id="" class="select__input">
                                        <option value="" hidden selected> -- Choose One --</option>
                                        <option value="1" class="select__option">Low</option>
                                        <option value="2" class="select__option">Medium</option>
                                        <option value="3" class="select__option">High</option>
                                        <option value="4" class="select__option">Very High</option>
                                    </select>
                                </div>
                                <div class="form__group">
                                    <input type="number" placeholder="Monthly Income" name="MonthlyIncome" class="form__input" required>
                                    <label for="MonthlyIncome" class="form__label"> Monthly Income</label>
                                </div>
                                <div class="select__group">
                                    <label for="JobSatisfaction" class="select__label"> Job Satisfaction </label>
                                    <select name="JobSatisfaction" id="" class="select__input">
                                        <option value="" hidden selected> -- Choose One --</option>
                                        <option value="1" class="select__option">Low</option>
                                        <option value="2" class="select__option">Medium</option>
                                        <option value="3" class="select__option">High</option>
                                        <option value="4" class="select__option">Very High</option>
                                    </select>
                                </div>
                                <div class="form__group">
                                    <input type="number" placeholder="Years At Company" name="YearsAtCompany" class="form__input" required>
                                    <label for="YearsAtCompany" class="form__label"> Years At Company</label>
                                </div>
                                <div class="select__group">
                                    <label for="PerformanceRating" class="select__label"> Performance Rating </label>
                                    <select name="PerformanceRating" id="" class="select__input">
                                        <option value="" hidden selected> -- Choose One --</option>
                                        <option value="1" class="select__option">Low</option>
                                        <option value="2" class="select__option">Good</option>
                                        <option value="3" class="select__option">Excellent</option>
                                        <option value="4" class="select__option">Outstanding</option>
                                    </select>
                                </div>
                                <!-- <div class="select__group">
                                    <label for="RelationshipSatisfaction" class="select__label"> Relationship Satisfaction </label>
                                    <select name="RelationshipSatisfaction" id="" class="select__input">
                                        <option value="" hidden selected> -- Choose One --</option>
                                        <option value="1" class="select__option">Low</option>
                                        <option value="2" class="select__option">Medium</option>
                                        <option value="3" class="select__option">High</option>
                                        <option value="4" class="select__option">Very High</option>
                                    </select>
                                </div> -->
                                <div class="form__group">
                                    <input type="number" placeholder="Distance from home in km" name="DistanceFromHome" id="name" class="form__input" required>
                                    <label for="DistanceFromHome" class="form__label"> Distance From Home</label>
                                </div>
                                <div class="select__group">
                                    <label for="MaritalStatus" class="select__label"> Marital Status </label>
                                    <select name="MaritalStatus" id="" class="select__input">
                                        <option value="" hidden selected> -- Choose One --</option>
                                        <option value="0" class="select__option">Divorced</option>
                                        <option value="1" class="select__option">Married</option>
                                        <option value="2" class="select__option">Single</option>
                                    </select>
                                </div>
                                <div class="form__group">
                                    <input type="number" placeholder="Total working years" name="TotalWorkingYears" class="form__input" required>
                                    <label for="TotalWorkingYears" class="form__label"> Total Working Years</label>
                                </div>
                                <button class="btn" type="submit"> Submit Details </button>
                            </div>
                        </form>
                    </div>
                    <div class="rightbar">
                        <div class="rightbar__container">
                            <div class="icon"> <i class="fa fa-user-circle"></i> </div>
                            <div class="image"> Upload Image </div>
                            <p class="text">Upload an image eithere from your drive, file storage or allow this app access your camera to take a real-time image of you</p>
                        </div>
                        <div class="rightbar__container">
                            <div class="icon"> <i class="fa fa-user"></i> </div>
                            <div class="image"> Upload an Id Scan </div>
                            <p class="text">Using an id scan upload is seemless, just scan your id and your profile picture will be updated on the fly</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>