<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="app.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <main>
        <div class="all-result">
            <h2 class="header"> Phishing info </h2>
            <div class="result-contaiiner">
                <% if(value === "1") { %>
                    <p class="result"><%= value %></p>
                    <button onclick="showSuccessAlert()">Verify</button>
                <% } else { %>
                    <p class="result"><%= value %></p>
                    <button onclick="showFailedAlert()">Verify</button>
                <% } %>
            </div>
        </div>
    </main>

    <script>
        // if user profile passes, call success
        function showSuccessAlert() {
            Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: 'Got Pass, value of 1!'
            });
        }

        // otherwise, call failed function
        function showFailedAlert() {
            Swal.fire({
                icon: 'error',
                title: 'Oops! Oh No',
                text: 'Goto a Value of 0'
            })
        }
    </script>
</body>
</html>